{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}


        {% block extra_css %}
            <script type="text/javascript" src="{% static 'js/aframe.min.js' %}"></script>
        {% endblock %}

{% block body_class %}template-dxf2vrpage{% endblock %}

{% block content %}
        <a-scene style="width: 100%; height: 768px" embedded>
          <a-assets>
			{% with equirectangular_image=page.equirectangular_image %}
			{% if equirectangular_image %}
			{% image equirectangular_image original as temp_image %}
			<img id="sky" src="{{ temp_image.url }}">
			{% else %}
			<img id="sky" src="{% static 'images/target.png' %}">
			{% endif %}
			{% endwith %}
			{% with material_images=page.material_images.all %}
			{% if material_images %}
			{% for item in material_images %}
			<a-mixin id="{{ item.layer }}" 
			material="color: {{ item.color }};
			{% image item original as temp_image %}
			src: {{ temp_image.url }}"></a-mixin>
			{% endfor %}
			{% endif %}
			{% endwith %}
		</a-assets>
		{% with extract_dxf=page.extract_dxf %}
		<div>{{ extract_dxf }}</div>
		{% endwith %}
            <a-sky src="#sky"></a-sky>
			<a-entity light="type: point; intensity: 0.75; distance: 50; decay: 2; castShadow: true;" 
			position="-10 10 5"></a-entity>
            <a-entity id="camera-ent">
                  <a-camera id="camera">
                    <a-light type="point"></a-light>
                    <a-entity position="0 -1.6 0" id="camera-foot"></a-entity>
                    <a-cursor color="#2E3A87"></a-cursor>
                  </a-camera>
            </a-entity>
        </a-scene>
{% endblock %}